ul {
  list-style-type: none;
}

li {
  margin-bottom: 1.2rem;
}

h3 {
  margin-bottom: $spacer;
}

.jumbotron {
  padding-left: $spacer/2 !important;

  @include respond-below(md) {
    margin-top: $spacer;
  }
}
