@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

@include themify($themes) {
  $hamburger-layer-color: themed("hamburger-color");
}

.hamburger {
  display: none;
  &:focus {
    outline: none;
  }
}

@include respond-below(md) {
  .hamburger {
    margin-left: auto;
    display: inline-block;
    border: 3px solid black;
  }
}
