@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  @include themify($themes) {
    background-color: themed("hamburger-color") !important;
  }
}

.hamburger {
  display: none;
}

@include respond-below(md) {
  .hamburger {
    margin-left: auto;
    display: inline-block;

    @include themify($themes) {
      border: 3px solid themed("border-color");
    }

    &:focus {
      outline: none;
    }
  }
}
