@mixin vertical-center-items($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
}

@mixin horizontal-center-items($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
}

@mixin all-center-items($direction) {
  @include vertical-center-items($direction);
  @include horizontal-center-items($direction);
}

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
