$themes: (
  default: (
    text-color: black,
    navbar-item-color: black,
    navbar-background-color: #f6f6f6,
    footer-background-color: #a9a9a9,
    cookie-background-color: #8f8f8f,
    logo-color: black,
    sub-menu-background-color: #f9f9f9,
    page-bg-color: #e4e5dd,
    page-divider-color: #d1d3c4,
    card-background-color: #ae2321,
    card-text-color: #dda8a8,
    card-text-color-active: white,
    border-color: black,
    mobile-menu-background-color: #f5f5f5,
    hamburger-color: black,
    error-text-color: #f6f6f6,
    error-bg-color: #dc3545,
  ),
  dark: (
    text-color: #f6f6f6,
    navbar-item-color: #eeeeee,
    navbar-background-color: #222831,
    footer-background-color: #222831,
    cookie-background-color: #37414f,
    sub-menu-background-color: #222831,
    logo-color: black,
    page-bg-color: #393e46,
    page-divider-color: #222831,
    card-background-color: #1f3c88,
    card-text-color: #f6f6f6,
    card-text-color-active: white,
    border-color: white,
    mobile-menu-background-color: #222831,
    hamburger-color: #f6f6f6,
    error-text-color: #f6f6f6,
    error-bg-color: #dc3545,
  ),
);
