$navbar-item-color: black;
$navbar-background: #f6f6f6;
$navbar-sub-background: #d9d9d9;
$navbar-item-size: 1.3rem;
$page-bg-color: #d1d3c4;
$page-divider-color: #e4e5dd;
$card-background-color: #ae2321;
$card-text-color: #dda8a8;
$card-text-color-active: white;
$navbar-item-size-sm: 0.9rem;
$spacer: 1rem;
