.sidebar-image {
  display: none;
}

fieldset {
  height: auto;
  border: 2px solid black !important;
}

@include respond-above(md) {
  .sidebar-image {
    display: block;
    object-fit: cover;
  }
}
