.neptuna-footer {
  margin-top: auto !important;
  @include vertical-center-items(row);
  padding: 1rem;

  @include themify($themes) {
    background-color: themed("footer-background-color");
    color: themed("navbar-item-color");
  }
  color: $navbar-item-color;
  font-weight: bold;

  .copyright {
    text-align: end !important;
    align-self: center;
  }

  @include respond-below(md) {
    justify-content: center;

    .describe,
    .copyright {
      text-align: center !important;
    }
  }
}
